
#flashcontent

.container
  #uid
  %h2 Identification
  #content
    .fingerprint-value
      #fp-1
      #fingerprint

    %hr

    %h2 Identification Values
    .table-responsive
      %table.table.table-hover
        %thead
          %tr
            %th.name Name
            %th.value.long-value Value
        %tbody

